body {
    background: #fbffff;
}

.flip-container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

::-webkit-scrollbar {
  display: none;
}

.flip-container {
  height: 100vh;
}

.flip-container.flip-it .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: .8s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: .8s;
  -moz-transform-style: preserve-3d;
  -o-transition: .8s;
  -o-transform-style: preserve-3d;
  transition: .8s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container .front,
.flip-container .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.flip-container .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-container .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ui.cards .card .image {
  height: 100%;
}

#header-map-segment {
  background-color: rgb(0, 196, 238);
  border: 0;
  padding: 0 5px 0 5px;
}

@media (max-width: 768px) {
    #header-map-segment {
	display: none;
    }
}

.wide-map {
  height: 60vh;
}

.header-map {
  height: 30vh;
}

.post-map {
  height: 30vh;
  width: 50%;
  margin: auto;
}

#map {
  height: 100%;
}

.ui.cards .card .image img {
  height: 100%;
}

.post-list {
  overflow-y: scroll;
}

a.ui.label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.about {
  height: calc(100vh - 50px - 28px);
  overflow-y: scroll;
}

.post-content img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent
}

.post-content strong {
  color: rgba(0, 0, 0, .7);
}

.post-content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
}

.post-content blockquote p {
  display: inline;
}

.post-content code {
  background: #ccc;
  padding: .2em .5em;
}

.post-content ul li {
  padding: .2em 0;
  line-height: 1.2em;
}

.menu-list ul {
    list-style: none;
    font-size: 1.4rem;
    text-align: left;
}

.menu-list ul li a {
    color: rgb(255, 255, 255);
}

.disqus-partial {
  position: relative;
  padding: 1em;
  vertical-align: middle;
  max-width: 100%;
}

.image-article {
    text-align: center;
}

.ytvideo {
    float: none;
    clear: both;
    width: 50%;
    position: relative;
    padding-bottom: 28.125%;
    height: 0;
    margin: 0 auto;
    max-width: 100%;
}
