<section class="ui top attached center aligned inverted segment">
  <a class="ui rounded fluid attached image" href="/">
    <img src="{{ .context.Site.Params.avatar | relURL }}">
  </a>
  <h1 class="ui header" style="margin-top: 15px">
    {{- .context.Site.Title -}}
    <div class="sub header" style="color: white;">{{ .context.Site.Params.motto }}</div>
  </h1>
</section>

<section class="ui four inverted attached item labeled icon menu">
    {{ $currentUrl := .context.Page.URL }}
    {{ range .context.Site.Data.menu.entries }}
    {{ if eq $currentUrl .url }}
    <a class="active item" href="{{ .url | relURL }}" title="{{ .name }}">
    {{ else }}
    <a class=" item" href="{{ .url | relURL }}" title="{{ .name }}">
    {{ end }}
    <i class="{{ .icon }} icon" title="{{ .name }}"></i>
      {{ .name }}
    </a>
    {{ end }}
</section>

{{ if .enablemap }}
<div class="ui attached center aligned inverted segment" id="header-map-segment">
      <section class="header-map">
	{{ partial "map" (dict "context" . "track" 0)}}
      </section>
</div>
{{ end }}

<section class="ui bottom attached center aligned inverted segment">
    {{ if .context.Site.Params.siteStartYear }}
    <p>© {{ if eq now.Year .context.Site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ .context.Site.Params.siteStartYear }} - {{ now.Year }}{{ end }} {{ .context.Site.Title }}</p>
    {{ else }}
    <p>© {{ now.Year }} {{ .context.Site.Title }}</p>
    {{ end }}
</section>
