<section id="map">
</section>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
	integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
	crossorigin="">
</script>
<script>
 var mymap = L.map('map', {
     attributionControl: false,
     zoomControl: false
 });

 var homeIcon = L.icon({
     iconUrl: '/home.svg',
     iconSize: [38, 75],
     iconAnchor: [0, 65],
 });

 var finishIcon = L.icon({
     iconUrl: '/finish.svg',
     iconSize: [38, 75],
     iconAnchor: [0, 65],
 });

 function printTrack(track) {
     var xml = track.responseXML;
     var trkpts = xml.getElementsByTagName("trkpt");
     var trkptsList = Array.prototype.slice.call(trkpts);
     var points = [];
     var polyline;

     trkptsList.forEach(function (trkpt) {
	     points.push([
		 trkpt.getAttribute("lat"), trkpt.getAttribute("lon")
	     ]);
	 });

     var homeMarker = L.marker(points[0], {icon: homeIcon});
     homeMarker.addTo(mymap);

     var finishMarker = L.marker(points[points.length - 1], {icon: finishIcon});
     finishMarker.addTo(mymap);

     var markerGroup = L.featureGroup([homeMarker, finishMarker]);

     var bounds = [];
     polyline = L.polyline(points, {color: 'red'}).addTo(mymap);
     bounds = bounds.concat(polyline.getBounds(), markerGroup.getBounds().pad(0.05));

     mymap.fitBounds(bounds);
 }

 function loadXMLTrack(track) {
     var xmlhttp = new XMLHttpRequest();
     xmlhttp.onreadystatechange = function() {
	 if (this.readyState == 4 && this.status == 200) {
	     printTrack(this);
	 }
     };

     xmlhttp.open("GET", track, true);
     xmlhttp.overrideMimeType('application/xml');
     xmlhttp.send();
 }

 function loadDayTrack(day) {
     var tracksPath = {{ "/tracks/day" | relURL }};
     var trackDay = tracksPath.concat(day.toString(), ".gpx");

     loadXMLTrack(trackDay);
 }

 function loadAllTrack() {
     loadXMLTrack({{ "/tracks/all.gpx" | relURL }});
 }

 L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWF0aGlldTY0MjA2IiwiYSI6ImNqbjhqYW5uODBnMncza2xtYTgwNjI1Z28ifQ.-VtBD7WPZvt61zoKTQvbZA', {
     id: 'mapbox.streets',
     accessToken: 'pk.eyJ1IjoibWF0aGlldTY0MjA2IiwiYSI6ImNqbjhqYW5uODBnMncza2xtYTgwNjI1Z28ifQ.-VtBD7WPZvt61zoKTQvbZA'
 }).addTo(mymap);

 {{ if eq .track 0 }}
 loadAllTrack();
 {{ else }}
 loadDayTrack({{ .track }});
 {{ end }}
 mymap.setZoom(10);
</script>
