{{ define "frontmenu" }}
{{ partial "icons.html" }}
{{ end }}

{{ define "main"}}
<div class="ui centered grid">
  <div class="{{ .Site.Params.headerGrid }}">

    {{ partial "header.html" (dict "context" . "enablemap" true) }}

  </div>
  <div class="{{ .Site.Params.contentGrid }} post-list">

    <div class="ui two stackable cards">
      {{ range .Site.RegularPages }}
        {{ .Render "summary" }}

      {{ end }}
    </div>

  </div>
</div>
{{ end }}
